<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Nacho Test Suite">
            <directory suffix=".php">./test/</directory>
        </testsuite>
    </testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">./src</directory>
			<exclude>
				<directory>./src/Backend/external</directory>
				<directory>test/</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
